/* @import-normalize; */
@import "./recipe.css";
@import './recipe-list.css';
@import "./buttons.css";
@import "./ingredient-list.css";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-family: Lato, "sans-sherif";
}

html {
  font-size: 16px;
}

body {
  box-sizing: border-box;
  /* changes the box model so that the padding and borders/margin are not longer added to the total width or height of the element */
}

.mr-1 {
  margin-right: 5px;
}


