.recipe {
  padding: 20px;
  border-bottom: 1px solid black;
  padding-bottom: 25px;
}

.recipe:last-child {
  border-bottom: none;
  padding-bottom: 5px;
}

.recipe__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.recipe__title {
  font-size: 1.45rem;
  margin: 0;
}

.recipe__row {
  margin-top: 10px;
}

.recipe-label {
  margin-right: 5px;
}

.recipe__value {
  font-weight: 300;
}

.recipe__value--indented {
  margin-top: 10px;
  margin-left: 20px;
}

.recipe__instructions { 
  white-space: pre-wrap;
}